/* tasksComponent's private CSS styles */
:host {
    max-width: 500px;
    width: 50%;
}

.tasks {
    border-radius: 10px;
    background-color: #F2D7D5;
    list-style-type: none;
    padding: 20px;
}

/*
.tasks li {
    cursor: pointer;
    position: relative;
    background-color: white;
    margin: .5em;
    padding:  0 5px 10px 10px;
    border-radius: 5px;
}
*/
input:hover {
    background-color: #F9EBEA;
    color: #D98880;
    left: .1em;
}

input {
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    margin: 4px 0;
    margin-left: 34px;
    padding: 12px 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    color:#117A65;
}

input[type='checkbox'] {
    display: none;
}

.task label {
    position: relative;
}

.task span::before,
.task span::after {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.task span.checkbox::before {
    width: 28px;
    height: 28px;
    background-color: #A2D9CE;
    /* left: -35px; */
    box-sizing: border-box;
    border: none;
    transition: border-color .2s;
  }
  .task span.checkbox:hover::before {
    background-color: #73C6B6;
    cursor: pointer;
  }
  .task span.checkbox::after {
    background-color: #117A65;
    transition: background-color .2s;
  }
  input[type="checkbox"]:checked + label span.checkbox::after {
    background-color: #117A65;
  }